.bvn { font-weight: bold;
		font-family: Arial,fantasy;
		font-size: 50px;
		text-shadow: 3px 5px 5px #000000;
		text-align: center;
		line-height: normal;
	}

.qui {
	text-align: center;
	}

.txtqui{
	text-align: center;
	font-family: "Times New Roman"; 
}




.formation{
    background-color: silver;
    overflow: hidden;
}

.question_bts{
	display:block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-weight: bold;
}


.bts{
    margin-left: auto;
    margin-right: auto;
}

.texte_bts{
    padding: 2%;
}

.titre_bts img{
    width: 100%;
    transform: translateX(20%);
}

.spec_bts{
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.spec_bts i{
	animation: spec_bts 4s linear infinite;
}

@keyframes spec_bts{
	from { transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}

.bts_sisr{
	border-style: dashed;
	height: auto;
	width: auto;
	padding: 1%;
}

.bts_sisr h4{
	text-align: center;
}

.bts_slam{
	border-style: dashed;
	height: auto;
	width: auto;
	padding: 1%;
}

.bts_slam h4{
	text-align: center;
}

ul{
	transform: translateX(5%);
}

.footer{
    background-color: black;
    padding: 2%;
    text-align: center;
    color: white;
}

nav{
    position: fixed !important; 
    width: 100%;
}
h1{
    margin-left: 15px;
}

.souligner{
text-decoration: underline;
}

h6{
    margin-left: 15px;
}
a{
    margin-left: 15px;
}

@media screen {

    .navbar{
        height: auto;

    
    .corps_presentation{
        margin: 5%;
        width: auto;
    }

    .corps_presentation h3{
        font-size: 150%;
    }

    .titre_bts img{
        width: 80%;
        transform: translateX(13.5%);
    }

    .texte_bts{
        text-align: center;
        transform: translateY(5%);
    }

    .bts_sisr{
        transform: translateY(5%);
    }

    .bts_slam{
        transform: translateY(10%);
    }

    ul{
        transform: translateX(10%);
    }

    .footer{
        transform: translateY(30%);
    }

}